@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import "tailwindcss";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.distress {
  font-family: 'Special Elite', cursive;
}

a {
  /* example of using @apply to bring in tailwind classes */
  /* see README for more info */
  @apply 
    border-b-2 border-b-slate-200 hover:border-b-teal-900
    text-teal-900 hover:text-teal-600 
    transition-colors duration-300;
}