@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import "tailwindcss";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.distress {
  font-family: 'Special Elite', cursive;
}
